

</body>
<footer>
    <footer class="w-100 py-4 flex-shrink-0 ">
        <div class="container-fluid bg-dark text-white">
            <div class="row gy-4 gx-5">

                <div class="col-sm-6">
                    <h5 class="h1 text-white">Apply4Me</h5>
                    <p class="small text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <p class="small text-white mb-0">© EbaeCodes <%= new Date().getFullYear();%><p>All rights reserved.</p>
                </div>
                <div class="col-3">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5 class="text-white mb-3">Services</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Consultation</a></li>
                        <li><a href="#">News Updates</a></li>
                        <li><a href="#">Get started</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
</footer>

</html>